Created with the help of https://www.toptal.com/developers/gitignore/api/visualstudiocode,python

### Python ###
__pycache__/
*.py[cod]
*$py.class

# Ignore the test files
test_cases/

# Ignore the comment file
comments_for_self_reference.txt